{%extends 'index.html'%}
{%block content%}
    <div class="site-section-cover overlay inner-page bg-light" style="background-image: url('/static/images/hero_3.jpg')" data-aos="fade">
      
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-lg-10">

            <div class="box-shadow-content">
              <div class="block-heading-1">
                <span class="d-block mb-3 text-white" data-aos="fade-up">{{rdetail.pub_date}} <span class="mx-2 text-primary">&bullet;</span>{{rdetail.writer}}</span>
                <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">{{rdetail.title}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    
    
    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
              {% if rdetail.img %}
            <img src="{{rdetail.img.url}}" alt="" style="width: 60%; height: 60;">
            {%endif%}
            <p class="lead" style="width: 500px; height:300px;padding-top: 3rem;">{{rdetail.text}}</p>

            <div class="button-group" style="padding-top: 0;">
              <!-- 수정, 삭제 버튼 이렇게 수정하면 더 좋을 거 같아요 / 작성자 같은 사람만 버튼 볼 수 있게 하기-->
              {% if user.is_authenticated %}
                  {% if review.writer.username == request.user.username %}
                      <a href="{% url 'FBoardEdit' review.id %}" class="btn btn-outline-primary btn-md">수정</a>
                      <a href="{% url 'FBoardDelete' review.id %}" class="btn btn-outline-primary btn-md">삭제</a>    
                  {% endif %}
                  {% if review not in user.fscraps.all %}
                      <a href="{% url 'FBoardScrap' review.id %}" class="btn btn-primary btn-md text-white">스크랩</a>
                  {% else %}
                      <a href="{% url 'FBoardRemoveScrap' review.id %}" class="btn btn-primary btn-md text-white">스크랩 취소</a>
                  {% endif %}
              {% endif %}
              <a href="{% url 'food_home' %}" class="btn btn-primary btn-md text-white">목록으로</a>
          </div>

            
            <div class="pt-5">
                <h3 class="mb-5">Comments</h3>
                <ul class="comment-list">
                  {% for c in comments%}
                  <li class="comment">
                    <div class="vcard bio">
                      <img src="/static/images/person_2.jpg" alt="Image">
                    </div>
                    <div class="comment-body">
                      <h3>{{c.writer}}</h3>
                      <div class="meta">{{c.pub_date}}</div>
                      <p>{{c.text}}</p>
                      <p><a href="{%url 'rdelete_comment' c.id rdetail.id%}" class="reply" style="float :right">삭제</a></p>
                    </div>
                  </li>
                  {%endfor%}
                </ul>
                <!-- END comment-list -->
                
                <div class="comment-form-wrap pt-5">
                  <h3 class="mb-5">Leave a comment</h3>
                  <form action= "{% url 'rcreate' rdetail.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea name="rtext" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="댓글 작성" class="btn btn-primary btn-md text-white">
                    </div>
  
                  </form>
                </div>
              </div>
            
              

          </div>
          <div class="col-md-4 sidebar">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box">
              <div class="categories">
                <h3>Categories</h3>
                <li><a href="#">Creatives <span>(12)</span></a></li>
                <li><a href="#">News <span>(22)</span></a></li>
                <li><a href="#">Design <span>(37)</span></a></li>
                <li><a href="#">HTML <span>(42)</span></a></li>
                <li><a href="#">Web Development <span>(14)</span></a></li>
              </div>
            </div>
            <div class="sidebar-box">
              <img src="/static/images/person_1.jpg" alt="Image" class="img-fluid mb-4 w-50 rounded-circle">
              <h3 class="text-black">{{rdetail.writer}}</h3>
              <p>유저 확장 제대로 한다면 이 모든게 채워질거야 ~</p>
              <p><a href="#" class="btn btn-primary btn-md text-white">Read More</a></p>
            </div>

            <div class="sidebar-box">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}