{% extends 'index.html'%}
{% block content%}
<div class="owl-carousel slide-one-item">
      

      

    <div class="site-section-cover overlay img-bg-section" style="background-image: url('static/images/bg.png');">
      <div class="container">
        <div class="row align-items-center justify-content-left text-left">
          <div class="col-md-12 col-lg-7">
            <h1 data-aos="fade-up" data-aos-delay="">KMU HIDDEN AREA</h1> <br> 
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">국민대 대학가 리뷰사이트입니다.<br>국민대 근처 맛집, 스터디공간, 휴식공간을 찾아드립니다.<br>KMU HIDDEN AREA 통해 지금 내게 필요한 공간을 찾아보세요.</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-outline-white border-w-2 btn-md">가입하기</a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="site-section-cover overlay img-bg-section" style="background-image: url('static/images/cafe.jpg'); " >
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-12 col-lg-8">
            <h1 data-aos="fade-up" data-aos-delay="">오늘의 추천장소</h1><br>      
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">모각코하는 날은?<br>꿀잼아지트</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-outline-white border-w-2 btn-md">리뷰보러가기</a></p>
          </div>
        </div>
      </div>

    </div>
    

  </div>
  
  <div class="site-section">
    <div class="block__73694 mb-2" id="services-section">
      <div class="container">
        <div class="row d-flex no-gutters align-items-stretch">

          <div class="col-12 col-lg-6 block__73422" style="background-image: url('static/images/review.png');" data-aos="fade-right" data-aos-delay="">
          </div>

          

          <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
            <h2 class="mb-3 text-black">우리대학 근처에 뭐있지?</h2><br>
            <p>"1학년때 설레는 대학생활을 기대하고 왔는데 갈 곳이 마땅히 안보였다. 매일타임에 검색해도 잘 안나오고, 어디에 뭐가있는지 몰랐다. 하지만 몇년이 지나도 아직도 어디에 뭐가있는지 모르겠다. <br><b>우리학교 근처 상점들 리뷰만 모아볼 수 없을까?</b>"</p>
            <p>대학에 입학한 신입생분들과 우리학교 근처에 뭐가 있는지 몰라 매번 다른 대학가를 가는 학우분들을 <br>위한 KMU HIDDEN AREA.</p>
            <ul class="ul-check primary list-unstyled mt-5">
              <li>같은학교 친구들이 말하는 그곳</li>
              <li>솔직한 리뷰로 신뢰도 UP</li>
              <li>누구든 작성 가능한 리뷰</li>
              <li>대학가 근처 상점들의 리뷰를 한 번에!</li>
            </ul> 
          </div>
        </div>
      </div>      
    </div>


    <div class="block__73694">
      <div class="container">
        <div class="row d-flex no-gutters align-items-stretch">

          <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image: url('static/images/mainstudy.png');" data-aos="fade-left" data-aos-delay="">
          </div>

          

          <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
            <h2 class="mb-3 text-black">스터디 공간</h2><br>
            <b><p>성곡도서관말고 공부하기 좋은 곳 없나?</p></b>
            <ul class="ul-check primary list-unstyled mt-5">
              <li>공부하기 좋은 장소를 모아보세요! 교내부터 교외근거리 까지 알고보면 많은 스터디 공간들!</li>
            </ul>
          </div>
        </div>
      </div>      
    </div>


    <div class="site-section">
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
  
            <div class="col-12 col-lg-6 block__73422" style="background-image: url('static/images/mainrest.png');" data-aos="fade-right" data-aos-delay="">
            </div>
  
            
  
            <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
              <h2 class="mb-3 text-black">휴식 공간</h2><br>
              <p><b>공강시간에 과제만 하지말고 놀기도 하자!</b></p>
              <ul class="ul-check primary list-unstyled mt-5">
                <li>혼자서 조용히 쉴 수 있는 곳부터 친구들과 쉴 수 있는 공간까지 함께 만나보세요!</li>
              </ul>
            </div>
          </div>
        </div>      
      </div>


    <div class="block__73694">
      <div class="container">
        <div class="row d-flex no-gutters align-items-stretch">

          <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image: url('static/images/mainfood.png');" data-aos="fade-left" data-aos-delay="">
          </div>

          

          <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
            <h2 class="mb-3 text-black">음식점</h2><br>
            <p><b>뭐먹을지 몰라서 고민하다 끼니 거르지 말고 리뷰보고 결정하자!</b></p>
            <ul class="ul-check primary list-unstyled mt-5">
              <li>매일 올라오는 교내학식 리뷰부터 새로생긴 맛집까지 모두 리뷰해줍니다!</li>
            </ul>
          </div>
        </div>
      </div>      
    </div>


    <div class="site-section">
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
  
            <div class="col-12 col-lg-6 block__73422" style="background-image: url('static/images/mainbeer.png');" data-aos="fade-right" data-aos-delay="">
            </div>
  
            
  
            <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
              <h2 class="mb-3 text-black">술집</h2><br>
              <p><b>대학가에 술집리뷰가 없으면 섭하지!</b></p>
              <ul class="ul-check primary list-unstyled mt-5">
                <li>교수님 학교다닐 때부터 있던 안주맛집술집부터 새로생긴 술집까지 싹다 리뷰해줍니다!</li>
              </ul>
            </div>
          </div>
        </div>      
      </div>

  <div class="site-section bg-dark" id="team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
            <h2><b>Best 리뷰</b></h2>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="block-team-member-1 text-center rounded">
            <figure>
              <img src="static/images/Jam.jpg" alt="Image" width="300" height="200">
            </figure>
            <h3 class="font-size-20 text-black">꿀잼아지트 |<br> 모각코 장소 추천</h3>
            <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">2020.05.30</span>
            <div class="block-social-1">
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="block-team-member-1 text-center rounded">
            <figure>
              <img src="static/images/MR.jpeg" alt="Image" width="300" height="200">
            </figure>
            <h3 class="font-size-20 text-black">미스터 전 |<br> 모각코 뒷풀이장소 추천</h3>
            <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">2020.05.30</span>
            <div class="block-social-1">
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="block-team-member-1 text-center rounded">
            <figure>
              <img src="static/images/Under.jpg" alt="Image" width="300" height="200">
            </figure>
            <h3 class="font-size-20 text-black">Underground Coffee Works | <br>노트북하기 좋은 카페</h3>
            <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">2020.04.22</span>
            <div class="block-social-1">
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
              <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>

  </div></div></div>
</div>
{% endblock %}
