{% extends 'index.html' %} {% block content %}
<div class="wrapper">
    <div class="container">
        <table class="review_list">
            <div>
                <a href="{% url 'FBoardNew' %}">새 리뷰 작성하기</a>
            </div>
            {% for review in reviews %}
            <tr>
                {% if review.img %}
                <td><img src="{{ review.img.url }}"></td>
                {% endif %}
                <td>
                    <h3>{{ review.title }} </h3>
                    <p>{{ review.pub_date }} </p>
                    <p>{{ review.summary }} </p>
                    <a href="{% url 'FBoardDetail' review.id %}">자세히 보기</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}